.page-header {
    background-color: #355C7D;
    color: white;
    margin-top: 0;
    font-family: 'Lora';
    /*margin-bottom: 0;*/
    height: 100%;
    width: 100%;

}

.page-header h1{
    font-size: 30pt;
    text-align: center;
}

.input-area {
    border-bottom: 2px solid #6C5B7B;
    position: relative;
    float: left;
    width: 100%;

}

.clear{
    clear: both;
}

.query-form {
    padding-left: 5%;
    padding-bottom: 1%;
    font-family: 'Lora';
    font-size: 12pt;
    width: 20%;
    float: left;
    clear: both;

}

.instructions {
    position: relative;
    font-size: 12pt;
    width: 50%;
    padding-top: 10px;
    margin: 0 auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #355C7D;
  color: white;
  text-align: Left;
  height: 5%;

}

.page{
    height: 100%;
    width: 95%;
    padding-bottom: 5%;
    background-color: white;
    margin: 0 auto;
}

.body{
    height: 100%;
    background-color: #C06C84;

}

.graph{

    clear: both;
    width: 100%;
    font-family: 'Lora';
    font-size: 20pt;
    padding-top: 5%;
}

#div_id_name{
    padding-bottom: 2%;
}

.radio{
    padding-left: 7%;
    padding-right: 10%;
    display: inline;
}

#div_id_sex{
    padding-bottom: 2%;
}

.error{
    font-family: 'Lora';
    font-size: 20pt;
    margin: 0 auto;
    width: 50%;
    padding-top: 10%;
}

.bk p{
    font-size: 20pt;
}